@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/***Roboto700**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/***Roboto300**/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/****Shrikhand400****/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/**************************************************************/
/**************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/*************************************************************************************/
.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
  z-index: -1;
  animation: center 3s linear;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
.center .ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 1s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.center .ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.center .loader {
  color: #ffffff;
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text {
  50% {
    color: black;
  }
}

@keyframes center {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
/******************************************************************************************/
nav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 5px;
  background: #FFFFFF;
}
@media (min-width: 768px) {
  nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 18%;
  }
}
nav p {
  background: #EAEAEA;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  box-shadow: inset 0px 28px 11px -30px rgba(0, 0, 0, 0.28);
  font-size: 14px;
}
nav i.fa-sharp.fa-solid.fa-location-dot {
  padding-right: 13px;
}

/******************************************************************************************/
header {
  background: #F6F6F6;
  text-align: center;
  padding-bottom: 29px;
  font-family: "Roboto", sans-serif;
}
header h3 {
  padding: 20px 44px 20px 42px;
}
@media (min-width: 768px) {
  header h3 {
    font-size: 2rem;
  }
}
header p {
  padding: 0 18px 18px;
  font-size: 14px;
  font-weight: 300;
}
@media (min-width: 768px) {
  header p {
    font-size: 16px;
  }
}
header .button {
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFFFFF;
  margin-left: auto;
  font-size: 14px;
  padding: 15px;
  margin-right: auto;
  cursor: pointer;
  border: none;
  width: 60%;
}
header .button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: rgba(255, 255, 255, 0.8117647059);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
@media (min-width: 768px) {
  header .button {
    width: 15%;
  }
}

/******************************************************************************************/
.fonctionnement {
  padding: 20px;
}
@media (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
  }
}

@media (min-width: 768px) {
  .boutton-fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
    gap: 39px;
  }
}

.h3-fonctionnement {
  padding: 20px;
  padding-left: 0;
}
@media (min-width: 768px) {
  .h3-fonctionnement {
    font-size: 24px;
  }
}

/******************************************************************************************/
.fonctionnement-page {
  background: #F7F7F7;
  padding: 20px;
  border: none;
  margin-bottom: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .fonctionnement-page {
    width: 100%;
    padding: 26px;
  }
}
.fonctionnement-page .circle-number {
  position: absolute;
  display: inline-block;
  left: -10px;
  top: 20px;
  background: #9356DC;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  animation: none;
}
.fonctionnement-page.btn3 {
  margin-bottom: 60px;
}

/******************************************************************************************/
main {
  background: #F6F6F6;
  padding-bottom: 66px;
  padding: 20px;
}
@media (min-width: 768px) {
  main section {
    padding: 20px 10%;
    padding-bottom: 60px;
  }
}
main .lien-vers-menu {
  color: black;
  text-decoration: none;
}
@media (min-width: 768px) {
  main .restaurants {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
main .h3-restaurants {
  padding: 20px;
  padding-left: 0;
}
@media (min-width: 768px) {
  main .h3-restaurants {
    font-size: 24px;
  }
}
main .card {
  background: #FFFFFF;
  margin: 0 13px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media (min-width: 768px) {
  main .card {
    margin: 0;
  }
}
main .card .tag-nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  padding: 7px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/******************************************************************************************/
.card :hover {
  cursor: pointer;
}

.h4-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

i.fa-regular.fa-heart {
  padding-right: 20px;
}

i.fa-regular.fa-heart.fa-stack-1x.fa-inverse {
  text-align: right;
  color: black;
}

i.fa-solid.fa-heart.fa-stack-1x {
  text-align: inherit;
  padding-left: 4px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 3s ease-in-out;
}
i.fa-solid.fa-heart.fa-stack-1x:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transform: scale(1);
}

/******************************************************************************************/
.card img {
  width: 100%;
  height: 160px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .card img {
    height: 220px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card h4 {
  padding: 16px 0 5px 13px;
}
@media (min-width: 768px) {
  .card h4 {
    font-size: 18px;
  }
}
.card p {
  font-weight: 300;
  padding: 0 0 15px 13px;
}

/******************************************************************************************/
footer li, footer ul {
  padding-bottom: 10px;
}

.fonctionnement-page i.fa-solid.fa-mobile-screen-button, .fonctionnement-page i.fa-solid.fa-list-ul, .fonctionnement-page i.fa-solid.fa-store {
  padding-right: 25px;
}

.fonctionnement-page i.fa-solid.fa-mobile-screen-button, .fonctionnement-page i.fa-solid.fa-list-ul, .fonctionnement-page i.fa-solid.fa-store {
  padding-left: 10px;
}

/******************************************************************************************/
footer {
  background: #353535;
  color: #FFFFFF;
  padding: 4px 18px 20px;
  font-size: 14px;
  cursor: pointer;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 15px;
    padding: 72px 0 20px;
  }
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .para-logo {
  font-family: "Shrikhand", cursive;
  padding: 16px 0px;
}
@media (min-width: 768px) {
  footer .para-logo {
    padding: 0 50px;
    font-size: 18px;
  }
}
footer ul {
  list-style: none;
  font-size: 14px;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 768px) {
  footer li {
    padding-right: 20px;
  }
}
footer li a {
  text-decoration: none;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */